.DS_Store
.Rhistory
.RData
.Ruserdata

_server_import/

*.fastq
*.fastq.gz
*.fq
*.fq.gz

*.vcf
*.vcf.gz
*.recode.vcf
*.phy
*.nex
*.nexus

*_outfiles/

*.finerad
*_chunks.out
*_chunks.mcmc.xml
*_chunks.mcmcTree.xml

RAxML_bestTree.*
RAxML_bootstrap.*
RAxML_bipartitions.*
RAxML_bipartitionsBranchLabels.*
RAxML_log.*

*~
*.tmp
*.swp
